.message {
  font-weight: 600;
  font-size: 50;
  color: Black;
}

.BT_NOT_Connected {
  font-weight: 100;
  font-size: 200;
  color: red;
}

.BT_NOT_Connected {
  font-weight: 100;
  font-size: 100;
  color: red;
}

.bouton {
  border: none;
  padding: 6px 0 6px 0;
  border-radius: 8px;
  font: bold 13px Arial;
  color: #fff;
}

.navbar {
  background-color: lightslategray;
  font-size: 1em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  padding: 8px 5px 8px 5px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar-brand {
  font-size: 1.2em;
  font-weight: 600;
}

.navbar-item {
  font-variant: small-caps;
  margin-left: 30px;
}

.body-content {
  padding: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
