{% load static %}
{% csrf_token %}
{% block content %}
<!doctype html>
<html lang="fr">
   <head>
      <meta charset="utf-8">
      <title>Projet Alex</title>
      <link rel="stylesheet" type="text/css" href="{% static 'Django-Project/site.css' %}" />
   </head>
   <body>
        <div class="BT_Connected">
            <h1>Bluetooth Statut : <div id="bt_state" class="bt_state">{{BT_STATUT}}</div></h1>
        </div>
      <button type="button" class="bouton" id="submit">{{BTN_BT_STATUT}}</button>
   </body>
</html>
{% endblock %}

<script>
document.getElementById("submit").addEventListener('click', async () => {
    const Bt_State = document.getElementById('bt_state').innerHTML;
    if (Bt_State) {
      console.log(Bt_State)
      response = await fetch("/bluetooth/", {
        method: "POST",
        headers: {
          'Content-Type': "application/json",
        },
        body: JSON.stringify({
                    Bt_State: Bt_State
                })
            });
        
        if(response.status == 200){
          if(Bt_State=='connected'){
            document.getElementById('bt_state').innerHTML="unconnected"
            document.getElementById('submit').innerHTML = "unconnected"
            document.getElementById('submit').style.backgroundColor = "RED"
          }
          else{
            document.getElementById('bt_state').innerHTML="connected"
            document.getElementById('submit').innerHTML = "connected"
            document.getElementById('submit').style.backgroundColor = "GREEN"
          }
        }
    }
    else{
        alert("Error : Bt_State undefined");
    }
});
</script> 