{% load static %}
{% csrf_token %}
{% block content %}
<!doctype html>
<html lang="fr">
   <head>
      <meta charset="utf-8">
      <title>Bluetooth</title>
      <link href="{% static 'app/css/icon.css' %}" rel="stylesheet"> 
      <link type="text/css" rel="stylesheet" href="{% static 'app/css/materialize.min.css' %}"  media="screen,projection"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   </head>
   <body>
    
        <div class="BT_Connected">
            <h1>Bluetooth Statut : <div id="bt_state" class="bt_state">{{BT_STATUT}}</div></h1>
        </div>
      <button type="button" class="bouton" id="submit">{{BTN_BT_STATUT}}</button>

      <script type="text/javascript" src="{% static 'app/js/materialize.min.js' %}"></script>
    </body>
</html>
{% endblock %}

<script type="text/javascript" src="{% static 'app/js/jsBluetooth.js' %}"></script>